@{
    ViewData["Title"] = "ShiftAssign";
}
<h1 class="mb-4">ShiftAssign Entry</h1>

@{
    var info = ViewData["Info"];
}
@if (info != null)
{
    <div class="alert @(Convert.ToBoolean(ViewData["Status"]) ? "alert-success" : "alert-danger")" role="alert">
        @info
    </div>
}

<form action="/ShiftAssign/Entry" method="post" class="p-4 border rounded shadow-sm bg-light">
    <div class="row">
        <div class="col-md-6 mb-3">
            <label class="form-label">Employee Name:</label>
            <select class="form-select" name="EmployeeId" required>
                <option value="" selected disabled>Select Employee</option>
                @foreach (var Employee in ViewBag.EmployeeViews)
                {
                    <option value="@Employee.Id">@Employee.Name</option>
                }
            </select>

        </div>

    </div>
    <div class="row">
        <div class="col-md-6 mb-3">
            <label class="form-label">Shift Policy:</label>
            <select class="form-select" name="ShiftId" required>
                <option value="" selected disabled>Select ShiftPloicy</option>
                @foreach (var shift in ViewBag.Shifts)
                {
                    <option value="@shift.Id">@shift.Name</option>
                }
            </select>

        </div>

    </div>
    <div class="row">
        <div class="col-md-6 mb-3">
            <label class="form-label fw-bold">From Date:</label>
            <input type="datetime-local" class="form-control" name="FromDate" placeholder="Enter Start Date" required>
        </div>
        <div class="col-md-6 mb-3">
            <label class="form-label fw-bold">To Date:</label>
            <input type="datetime-local" class="form-control" name="ToDate" placeholder="Enter End Date" required>
        </div>
    </div>
   
    <div class="d-flex justify-content-between">
        <button type="submit" class="btn btn-primary px-4">Submit</button>
        <a href="/ShiftAssign/list" class="btn btn-outline-secondary px-4">View List</a>
    </div>
</form>
