@model PositionViewModel
@{
    ViewData["Title"] = "Position";
}

<div class="container py-4">
    <div class="card shadow">
        <div class="card-body">
            <h2 class="mb-4 text-primary">Position Edit</h2>

            @{
                var info = ViewData["info"];
            }
            @if (info != null)
            {
                if (Convert.ToBoolean(ViewData["status"]))
                {
                    <div class="alert alert-success" role="alert">
                        @info
                    </div>
                }
                else
                {
                    <div class="alert alert-danger" role="alert">
                        @info
                    </div>
                }
            }

            <form action="/Position/update" method="post">
                <input type="hidden" name="Id" value="@Model.Id" />

                <div class="mb-3">
                    <label class="form-label">Code:</label>
                    <input type="text" class="form-control" name="Code" required value="@Model.Code">
                </div>

                <div class="mb-3">
                    <label class="form-label">Name:</label>
                    <input type="text" class="form-control" name="Name" required value="@Model.Name">
                </div>

                <div class="mb-3">
                    <label class="form-label">Level:</label>
                    <input type="number" class="form-control" name="Level" required value="@Model.level">
                </div>

                <div class="mb-3">
                    <label class="form-label">Created On:</label>
                    <input type="text" class="form-control bg-light" required value="@Model.CreatedOn" readonly name="CreatedOn">
                </div>

                <div class="mb-3">
                    <label class="form-label">Modified On:</label>
                    <input type="text" class="form-control bg-light" required value="@Model.UpdatedOn" readonly>
                </div>

                <div class="mt-4">
                    <button type="submit" class="btn btn-primary">
                        <i class="fas fa-save"></i> Update
                    </button>
                    <a href="/position/list" class="btn btn-outline-primary ms-2">
                        <i class="fas fa-list"></i> List
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>